.category-container .category-name {
  margin-bottom: $component-spacing-value;
  padding-bottom: 20px;
  color: var(--text-color-2);
  font-weight: 600;
  font-size: 1.6rem;
  border-bottom: 1px solid var(--border-color);
keep-tablet()
keep-mobile()
}
.category-container .category-name i {
  color: var(--text-color-2);
}
