.category-list-container .category-list-content .all-category-list > .all-category-list-item > .all-category-list-link {
  font-size: 1.1rem;
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item {
  margin-bottom: 1rem;
  font-size: 1rem;
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item:last-child {
  margin-bottom: 0;
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item span.all-category-list-count {
  float: right;
  color: var(--text-color-3);
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item span.all-category-list-count::before {
  content: '[';
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item span.all-category-list-count::after {
  content: ']';
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item ul.all-category-list-child {
  margin-top: 1rem;
  margin-left: 0.9rem;
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item ul.all-category-list-child li {
  margin-bottom: 0.9rem;
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item ul.all-category-list-child li::before {
  content: '- ';
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item ul.all-category-list-child li:last-child {
  margin-bottom: 0;
}
