.page-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: var(--background-color-1);
}
.page-container .page-main-content {
  position: relative;
  box-sizing: border-box;
  padding-top: $header-height;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content.is-home .transparent-1 {
  background: var(--header-transparent-background-1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.page-container .page-main-content.is-home .transparent-2 {
  background: var(--header-transparent-background-2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.header-shrink .page-container .page-main-content {
  padding-top: $header-shrink-height;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-top {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index-5;
  box-sizing: border-box;
  width: 100%;
  height: $header-height;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-top.hide {
  transform: translateY(-105%);
}
.header-shrink .page-container .page-main-content .page-main-content-top {
  height: $header-shrink-height;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-middle {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: $component-spacing-value 0;
keep-tablet()
keep-mobile()
}
.page-container .page-main-content .page-main-content-middle .main-content {
  position: relative;
  box-sizing: border-box;
  width: $main-content-width;
  max-width: $content-max-width;
  height: 100%;
keep-tablet()
keep-mobile()
}
.has-toc .page-container .page-main-content .page-main-content-middle .main-content {
  max-width: $has-toc-content-max-width;
}
.page-container .page-main-content .page-main-content-bottom {
  width: 100%;
}
.page-container .post-tools {
  position: fixed;
  top: $header-height$component-spacing-value;
  left: calc((100vw - $content-max-width / 2) - 5rem);
  box-sizing: border-box;
  opacity: 0;
keep-tablet()
keep-mobile()
}
.header-shrink .page-container .post-tools {
  top: $header-shrink-height$component-spacing-value;
keep-tablet()
}
.page-container .right-bottom-side-tools {
  position: fixed;
  right: 0;
  bottom: 5%;
}
