.tag-container .tag-name {
  margin-bottom: $component-spacing-value;
  padding-bottom: 1rem;
  color: var(--text-color-2);
  font-weight: 600;
  font-size: 1.5rem;
  border-bottom: 0.1rem solid var(--border-color);
keep-tablet()
keep-mobile()
}
.tag-container .tag-name i {
  color: var(--text-color-2);
}
